@model IEnumerable<ProyectoFarmacia.Models.Medicinas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreMedicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreMedicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicinaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicinaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicinaId })
        </td>
    </tr>
}

</table>
